#maindiv {
  position: relative;
}

#headdiv {
  z-index: 99;
  display: inline;
  position: absolute;
}

#hgnrole {
  display: inline;
}

#hgnNumber {
  position: absolute;
  display: inline;
}

#hgnPlayerName {
  position: relative;
  vertical-align: middle;
  z-index: 1;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  font-family: "黑体";
  display: inline-block;
  color: white;
}

.canselete :hover {
  font-weight: bolder;
  transform: scale(1.2, 1.2);
}

.offline {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
