<!-- <H1>
  hgnContainer</H1>
<H1>
  {{hgnData}}</H1>
<H1>
  {{hgnType}}</H1> -->
<div style="    width: 200px;">
  <div id="whospeak">
    <span class="badge " id="whoAmI" [ngStyle]="setStyles()">
      <img [src]="gethead()" class="" style="height: 40px;
        margin-top: -7px;
        margin-left: -7px;
        float:left;">
      <div id="test" style="float:left;margin-left: 4px; min-width: 100px;">
        {{hgnData.who.name}}
      </div>
    </span>
    <div *ngIf="hgnData.step" id="containerother"></div>
  </div>
  <span id="speakwhat" class="alert alert-info " style="">
    <div *ngIf="!hgnData.msgList[0]&&hgnData.step">他正在思考，怎么表达自己的观点..</div>
    <div *ngIf="!hgnData.msgList[0]&&!hgnData.step">他什么都不想说，就过了..</div>
    <div *ngFor="let msgg of hgnData.msgList ">
      {{msgg}}
    </div>
  </span>
</div>
