
#whospeak {
  /*float: left;*/;
  width: 500px;
}

#whoAmI {

}

#speakwhat {
  position: relative;
  width: 400px;
  margin-left: 20px;
  min-height: 30px;
  z-index: 99;
}

span {
  display: block;
    /*float: left;*/;
  left: 0.5em;
  padding: 0.3em;
  font-size: 0.9em;
  word-wrap: break-word;
  word-break: keep-all;
  overflow: hidden;
}

#containerother{

  /*float: left;*/;
  width: 20px;
  margin-left: 50px;
}
