<!-- <H1>
  hgnContainer</H1>
<H1>
  {{hgnData}}</H1>
<H1>
  {{hgnType}}</H1> -->
<div>
  <div *ngIf="hgnData.step" id="spk_timeer">
    <div id="spk_container"></div>
  </div>
  <div id="whospeak">
    <hgnPlayer [hgn_data]='hgnData.who' [hgn_size]='30' [hgn_style]='3'></hgnPlayer>
  </div>
  <span id="speakwhat" class="alert alert-info " style="">
    <div *ngIf="!hgnData.msgList[0]&&hgnData.step">他正在思考，怎么表达自己的观点..</div>
    <div *ngIf="!hgnData.msgList[0]&&!hgnData.step">他什么都不想说，就过了..</div>
    <div *ngFor="let msgg of hgnData.msgList ">
      {{msgg}}
    </div>
  </span>
</div>
