<div id="main">
  <div class="">
    <div class="">
      <h1>神TM希特勒
      </h1>
    </div>
    <div class="" *ngIf="userService.yourself">
      <img *ngIf="!userService.yourself.isSurvival" src="./pic/dead.jpg" style="width: 60px ">
      <img *ngIf="userService.yourself.isPrm" src="./pic/总理.png" style="width: 60px ">
      <img *ngIf="userService.yourself.isPre" src="./pic/总统.png" style="width: 60px ">
      <img *ngIf="!userService.yourself.canBeSelect" src="./pic/无法参选.png" style="width: 60px ">
    </div>
  </div>
  <div id="msgdiv">
    <msg>消息加载中</msg>
  </div>
  <div class="" id="userslist">
    <userslist></userslist>
  </div>
  <div class="" id="prostatus">
    <div class="">
      <img src="./pic/法西斯进度10.jpg" class="" style="width: 270px; Margin:1px">
    </div>
    <div class="">
      <img src="./pic/自由党进度.jpg" class="" style="width: 270px; Margin:1px">
    </div>
  </div>
  <div class="" style="">
    <div class="">
      <div class="panel panel-primary" id="team">
        <div class="panel-heading">
          <h3 class="panel-title">队友信息</h3>
        </div>
        <div class="panel-body">
          {{this.userService.teamMsg}}
        </div>
      </div>
      <div class="" id="role">
        <img data-src="holder.js/140x140" class="img-thumbnail" alt="140x140" [src]="userService.role|getHead" data-holder-rendered="true" style="">
      </div>
      <div [hidden]="!this.theGameService.locked" class="panel-body"></div>
    </div>
    <div class="" style="height: 140px;">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">游戏操作区</h3>
        </div>
        <gameControl>游戏空间加载中</gameControl>
      </div>
    </div>
  </div>
</div>
