<div class="container">
  <div [hidden]="submitted">
    <h1>Hero Form</h1>
    <form (ngSubmit)="onSubmit(name.value)" #loginForm="ngForm">
      <div class="form-group">
        <label for="name">昵称</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="tmp.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          昵称是必须的
        </div>
      </div>
      <div class="form-group">
        <label for="alterEgo">登陆码</label>
        <input type="text" class="form-control" id="alterEgo"  required [(ngModel)]="tmp.id" name="id" #id="ngModel">
        <div [hidden]="id.valid || id.pristine"
             class="alert alert-danger">
          登陆码是必须的
        </div>
      </div>
      <div class="form-group">
        <label for="sexes">性别</label>
        <select class="form-control" id="sex" required>
          <option *ngFor="let sex of sexes" [value]="sex">{{sex}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid" >登陆</button>
    </form>
  </div>
</div>
