.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

#a1 {
  width: 500px;
  margin: auto;
}

#a2 {
  width: 500px;
  margin: auto;
}

.a3 {
  position: relative;
  left: 420px;
}

.containerlogin {
  margin: auto;
  width: 500px;
}
