.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

#a1 {
  width: 500px;
  margin: auto;
  position: relative;
  bottom: -125px;
}

#a2 {
  width: 500px;
  margin: auto;
  position: relative;
  bottom: -50px;
}

.a3 {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.containerlogin {
  margin: auto;
  width: 596px;
  color: yellowgreen;
}

.mypic{
  width: 189px;
  display: inline-block;
  position: relative;
  border: 6px solid rgb(115, 94, 11);
  border-radius: 1em 1em 1em 1em;
  top: -78px;
  margin: 5px;
}

#background{
  position: relative;
  height: 770px;
  margin: auto;
  width: 1300px;
  padding-top: 40px;
}

#alerts{
  margin: auto;
  width: 200px;
  color: seashell;
  font-size: 20px;
}
