<!-- <div class="container"> -->
<div *ngIf="!this.userService.isLogin" class="container">
  <div >
    <h1>登陆</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="name">昵称</label>
        <input type="text" class="form-control" id="name" name="nameinput" #in_name="ngModel" required placeholder="最长10位的昵称" [(ngModel)]="username">
        <div [hidden]="in_name.untouched || in_name.valid " class="alert alert-danger">
          昵称是必须的
        </div>
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="in_pass" #in_pass="ngModel" required placeholder="密码" [(ngModel)]="userpassword">
        <div [hidden]="in_pass.untouched || in_pass.valid" class="alert alert-danger">
          密码是必须的
        </div>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!loginForm.form.valid||submiting">登陆</button>
    </form>
  </div>
</div>
{{alerts}}
<button *ngIf="this.userService.isLogin" (click)="tmp()" class="btn btn-default">已经登陆，点击前往房间</button>
