
#whospeakk {
  float: left;
  width: 500px;
}


#speakwhatk {
  float: left;
  width: 400px;
  margin-left: 41px;
  margin-top: -16px;
  margin-bottom: 0.5em;
  min-height: 30px;
}

#pro {
  padding: 0px 0px;
  float: left;
  margin-right: 3px;
}
#pre_do {

}
#prm_do {

}
#end_do {
  float: left;
  width: 300px;
  text-align: center;
  margin-top: 13px;
}
#ask {
  float: left;
  width: 300px;
  text-align: center;
  margin-top: 13px;
}
#ifask {
  float: left;
  width: 300px;
  text-align: center;
  margin-top: 13px;
}
