<button (click)="userSeat()" type="button" class="btn btn-warning btn-lg">坐下</button>
<button (click)="startGame()" type="button" class="btn btn-warning btn-lg">开始游戏</button>
<div class="panel-body">
  <button (click)="vote()" type="button" class="btn btn-default">投票</button>
  <button (click)="preSelect()" type="button" class="btn btn-primary">选总统</button>
  <button (click)="prmSelect()" type="button" class="btn btn-success">选总理</button>
  <button (click)="proSelect()" type="button" class="btn btn-info">选法案</button>
  <button (click)="tmp()" type="button" class="btn btn-warning">tmp</button>
  <button (click)="back()" type="button" class="btn btn-danger">back</button>
  <button (click)="tmp()" type="button" class="btn btn-danger">同意</button>
  <button (click)="tmp()" type="button" class="btn btn-danger">反对</button>
</div>
<span [ngSwitch]="toDoSth">
  <span *ngSwitchCase="'枪决'">枪决
    <ul class="buttonLsit">
      <li *ngFor="let user of userService.userLsit">
        <button [disabled]=" !user.isSurvival " (click)="preSelect(user.name)" type="button" class="btn btn-success">{{user.name}}</button>
      </li>
    </ul>
  </span>
  <span *ngSwitchCase="'投票'">
    <button (click)="tmp()" type="button" class="btn btn-danger">同意</button>
    <button (click)="tmp()" type="button" class="btn btn-danger">反对</button>
  </span>
  <span *ngSwitchCase="'选总统'">选总统 当前总统->
    <img src="./pic/总统.png" class="img-thumbnail">
    <ul class="buttonLsit">
      <li *ngFor="let user of userService.userLsit">
        <button [disabled]="user.isPre || !user.isSurvival " (click)="preSelect(user.name)" type="button" class="btn btn-success">{{user.name}}</button>
      </li>
    </ul>
  </span>
  <span *ngSwitchCase="'选总理'">选总理->
    <ul class="buttonLsit">
      <li *ngFor="let user of userService.userLsit">
        <button [disabled]="user.isPre || user.isLastPrm || user.isLastPre || !user.isSurvival" (click)="preSelect(user.name)" type="button" class="btn btn-success">{{user.name}}</button>
      </li>
    </ul>
  </span>
  <span *ngSwitchCase="'选法案'">选法案
    <div >
      <ul style="width: 150px;
  height: 150px" class="buttonLsit">
        <li *ngFor="let pro of proList">
          <button (click)="proSelect(pro)" type="button" [class]="pro>5?'btn btn-danger':'btn btn-primary'"><img [src]="pro>5?'./pic/红色法案.png':'./pic/蓝色法案.png'" class="img-thumbnail">{{pro}}</button>
        </li>
      </ul>
    </div>
  </span>
  <span *ngSwitchDefault>请静静的等着……{{toDoSth}}</span>
</span>
