<div *ngIf="!theGameService.started" class="panel-body " style="">
  <div class="col-sm-1">
    <button *ngIf="!userService.yourself.isSeat" (click)="userSeat()" type="button" class="btn btn-warning ">坐下</button>
    <button *ngIf="userService.yourself.isSeat" (click)="userSeat()" type="button" class="btn btn-success ">起身离开</button>
    <!-- <button [disabled]="userService.yourself.name!=='皇冠鸟'" (click)="startGame()" type="button" class="btn btn-warning ">开始游戏</button> -->
    <button [disabled]="theGameService.playerList.length<5 || !userService.yourself.isSeat " (click)="startGame()" type="button" class="btn btn-warning ">开始游戏{{theGameService.playerList.length}}</button>
    <!-- <button (click)="vote()" type="button" class="btn btn-default">投票</button>
  <button (click)="preSelect()" type="button" class="btn btn-primary">选总统</button>
  <button (click)="prmSelect()" type="button" class="btn btn-success">选总理</button>
  <button (click)="proSelect()" type="button" class="btn btn-info">选法案</button>
  <button (click)="tmp()" type="button" class="btn btn-warning">tmp</button>
  <button (click)="back()" type="button" class="btn btn-danger">back</button>
  <button (click)="tmp()" type="button" class="btn btn-danger">同意</button>
  <button (click)="tmp()" type="button" class="btn btn-danger">反对</button> -->
  </div>
</div>
<div class="row">
  <div class="col-sm-1" *ngFor="let votepic of theGameService.nowVote|getvote">
    <img [src]="votepic" style="width: 60px; height: 70px;">
  </div>
</div>
<span [ngSwitch]="theGameService.toDoSth">
  <span *ngSwitchCase="'枪决'">枪决
    <div class="row">
      <div class="col-sm-1" *ngFor="let user of theGameService.playerList">
        <button [disabled]="user.isPre || !user.isSurvival " (click)="toKill(user)" type="button" class="btn btn-success" ngbTooltip="{{user.name}}">{{user.seatNo}}
        </button>
      </div>
    </div>
  </span>
  <span *ngSwitchCase="'投票'">
    总统{{theGameService.pre.name}}选择{{theGameService.prmTmp.name}}做总理，
    <div class="row">
      <div class="col-sm-1" *ngFor="let votepic of theGameService.nowVote|getvote;let i=index;">
        {{i+1}}
        <img [src]="votepic" style="width: 60px; height: 70px;">
      </div>
    </div>
    <div *ngIf="!theGameService.isVoted && userService.yourself.isSurvival">
      <button (click)="vote(2)" type="button" class="btn btn-danger">同意</button>
      <button (click)="vote(3)" type="button" class="btn btn-danger">反对</button>
    </div>
  </span>
  <span *ngSwitchCase="'选总统'">选总统 当前总统->
    <img src="./pic/总统.png" class="img-thumbnail" style="
height: 80px">
    <div class="row">
      <div class="col-sm-1" *ngFor="let user of theGameService.playerList">
        <button [disabled]="user.isPre || !user.isSurvival " (click)="preSelect(user)" type="button" class="btn btn-success">{{user.seatNo}}</button>
      </div>
    </div>
  </span>
  <span *ngSwitchCase="'选总理'">{{theGameService.pre.name}}选总理->
    <div class="row">
      <div class="col-sm-1" *ngFor="let user of theGameService.playerList">
        <button [disabled]="user.isPre || user.isLastPrm || !user.canBeSelect || !user.isSurvival" (click)="prmSelect(user)" type="button" class="btn btn-success" ngbTooltip="{{user.name}}">{{user.seatNo}}</button>
      </div>
    </div>
  </span>
  <span *ngSwitchCase="'调查身份'">{{theGameService.pre.name}}调查身份->
    <div class="row">
      <div class="col-sm-1" *ngFor="let user of theGameService.playerList">
        <button [disabled]="user.isPre || !user.isSurvival" (click)="invPlayer(user)" type="button" class="btn btn-success">{{user.seatNo}}</button>
      </div>
    </div>
  </span>
  <span *ngSwitchCase="'调查身份结果'">{{theGameService.target.name}}调查身份结果->
    <div class="row">
      <img [src]="theGameService.other" class="img-thumbnail" style="height: 140px">
    </div>
  </span>
  <!-- <span *ngSwitchCase="'选法案xx'">选法案
    <div >
      <div class="row">
        <div class="col-sm-2" *ngFor="let pro of theGameService.proX3List">
          <button (click)="proSelect(pro)" type="button" [class]="pro>5?'btn btn-danger':'btn btn-primary'"><img [src]="pro>5?'./pic/红色法案.png':'./pic/蓝色法案.png'" class="img-thumbnail">{{pro}}</button>
        </div>
      </div>
    </div>
  </span>
  <span *ngSwitchCase="'是否同意否决全部xx'">选法案
    <div >
      <div class="row">
        <button (click)="veto_all(1)" type="button" class="btn btn-danger">同意</button>
        <button (click)="veto_all(0)" type="button" class="btn btn-danger">反对</button>
      </div>
    </div>
  </span>
  <span *ngSwitchCase="'选法案2xx'">选法案
    <div >
      <div class="row">
        <div class="col-sm-2" *ngFor="let pro of theGameService.proX3List">
          <button (click)="proSelect(pro)" type="button" [class]="pro>5?'btn btn-danger':'btn btn-primary'"><img [src]="pro>5?'./pic/红色法案.png':'./pic/蓝色法案.png'" class="img-thumbnail">{{pro}}</button>
        </div>
        <button (click)="veto()" type="button" class="btn btn-danger">全部否决</button>
      </div>
    </div>
  </span> -->
  <span *ngSwitchDefault>
    <h1>{{theGameService.toDoSth}}</h1>
  </span>
</span>
