<div id="" class="alert alert-warning" style="position: relative; padding: 9px;">
  <div class="gov">
    <hgnPlayer [hgn_data]='hgnData.pre' [hgn_size]='40' [hgn_style]='3' (click)="prmSelect(user)"></hgnPlayer>
  </div>
  <div class="gov">
    <hgnPlayer [hgn_data]='hgnData.prm' [hgn_size]='35' [hgn_style]='3' (click)="prmSelect(user)"></hgnPlayer>
  </div>
  <div style="padding: 9px;">
    <div class="row" style="">
      <div style="" style="margin-left: 25px;">
        <div class="" *ngFor="let user of hgnData.userList">
          <div class="col-sm-1">
            <!-- <button [disabled]="user.isPre || user.isLastPrm || !user.canBeSelect || !user.isSurvival" (click)="prmSelect(user)" type="button" class="btn btn-success" ngbTooltip="{{user.name}}" style="margin: 8px;">{{user.seatNo}}</button> -->
            <hgnPlayer [hgn_data]='user' [hgn_size]='25' [hgn_style]='5'></hgnPlayer>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div style="" style="margin-left: 25px;">
        <div class="col-sm-1" *ngFor="let votepic of hgnData.nowVote|getvote;let i=index;">
          <img [src]="votepic" style="width: 32px;">
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!hgnData.nowVote[userService.yourself.seatNo-1]&&  userService.yourself.isSurvival && userService.yourself.seatNo">
    <button (click)="vote(2)" type="button" class="btn btn-danger">同意</button>
    <button (click)="vote(3)" type="button" class="btn btn-danger">反对</button>
  </div>
  <div *ngIf="hgnData.nowVote[userService.yourself.seatNo-1]  &&userService.yourself.isSurvival && userService.yourself.seatNo">
    你投了：
    <img [src]="hgnData.nowVote[userService.yourself.seatNo-1]===3?'./pic/反对.png':'./pic/同意.png'" style="width: 50px; margin: 1px;">
  </div>
  <div *ngIf="hgnData.voteRes ">
    {{getres()}}
  </div>
</div>
