<img src="./pic/loading.jpg">
<div *ngIf="who==='who'">
  <label for="password">密码</label>
  <input type="password" class="" id="password" name="in_pass" #in_pass="ngModel" required placeholder="密码" [(ngModel)]="adminpassword">
  <button class="btn btn-danger" (click)=tmp()>验证身份</button>
</div>
<div *ngIf="who==='no'">
  你在想啥？
</div>
<div *ngIf="who==='yes'">
  <button class="btn btn-danger" (click)=restart()>强制结束游戏</button>
  <div *ngFor="let user of userService.hList.userList" style="height=10%;">
    <button class="btn btn-warning" (click)=kick(user)>{{user.name}}</button>
  </div>
  <div class="" id="adminlist">
    <userslist></userslist>
  </div>
</div>
