<div class="">
  <!-- Tab panes -->
  <div class="pre-scrollable" angular2-auto-scroll lock-y-offset="10" observe-attributes id="">
    <div *ngFor="let Msg of theMsgService.msgList;let i = index">
      <div style="float:left;width:500px;">
        {{i}}---type---{{Msg.type}}<br>
      </div>
      <hgnCP *ngIf="Msg.type==='choosePro'" [hgn_data]='Msg'></hgnCP>
      <!-- <hgnPlayermsg *ngIf="Msg.type==='playerMsg'" [hgn_data]='Msg'></hgnPlayermsg>

      <hgnlookpro *ngIf="Msg.type==='hgnlookpro'" [hgn_data]='Msg'></hgnlookpro> -->
      <hgnVote *ngIf="Msg.type==='vote_please'" [hgn_data]='Msg'></hgnVote>
      <hgnChoosePlayer *ngIf="Msg.type==='selectPrm'" [hgn_data]='Msg'></hgnChoosePlayer>
      <!-- <div *ngIf="Msg.type==='gamestart'">gamestart</div> -->
    </div>
  </div>
  <!-- <input [(colorPicker)]="color" [style.color]="color" [style.font]="'italic bold 20px arial,serif'" [value]="color"/> -->
  <!-- <input [disabled]="!locked" [(ngModel)]="myInput" (keyup.enter)=sendMsg()> -->
  <div id="inputair">
    <textarea [disabled]="!this.theGameService.locked" name="MSG" cols=62 rows=7 wrap="physical" [(ngModel)]="myInput" (keydown.control.Enter)=sendMsg()>
      loading...
    </textarea>
    <div id="container"></div>
    <button [disabled]="!this.theGameService.locked" (click)=sendMsg() id="ctrlenter">提交(Ctrl+Enter)</button>
    <!-- <button (click)=tmp()>开始</button> -->
    <button [disabled]="!this.theGameService.locked" (click)=speak_end() id="speakend">结束发言</button>
    <div class="">
      <button (click)="testjsson(1)" id="pro">写入</button>
      <button (click)="testjsson(2)" id="pro">读取</button>
      <button (click)="testjsson(3)" id="pro">清除</button>
    </div>
  </div>
</div>
