<div class="col-sm-6">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#gameMsg" role="tab" data-toggle="tab">游戏信息<span class="badge alert-info"></span>
      </a>
    </li>
    <li role="presentation">
      <a href="#sysMsg" role="tab" data-toggle="tab">系统消息<span class="badge"></span>
      </a>
    </li>
    <li role="presentation">
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">游戏帮助</button>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="panel panel-default">
    <div class="panel-body pre-scrollable">
      <div class="tab-content " style="height:200px">
        <div role="tabpanel" class="tab-pane active " id="gameMsg">游戏消息内容<br>
          123<br>
          12<br>
          312<br>
          31<br>
          23<br>
          123<br>
          12<br>
          123<br>
          12<br>
          123<br>
          12<br>
          31<br>
          end<br></div>
        <div role="tabpanel" class="tab-pane " id="sysMsg">系统消息内容</div>
      </div>
    </div>
  </div>
</div>
