<div class="">
  <!-- Tab panes -->
  <ngb-tabset>
    <ngb-tab title="玩家发言">
      <template ngbTabContent>
        <div class="pre-scrollable" angular2-auto-scroll lock-y-offset="10" observe-attributes id="">
          <div *ngFor="let Msg of msgListAll">
            <hgnPlayermsg *ngIf="Msg.type==='playerMsg'" [hgn_data]='Msg'></hgnPlayermsg>
            <div *ngIf="Msg.type!=='playerMsg'">
              {{Msg.who}}-{{Msg.body}}</div>
          </div>
        </div>
      </template>
    </ngb-tab>
    <ngb-tab title="游戏进程">
      <template ngbTabContent>
        <div class="pre-scrollable" angular2-auto-scroll lock-y-offset="10" observe-attributes id="">
          <div id="speakwhat" [hidden]="e" *ngFor="let msgg of theGameService.gameMsg">
            <span class="alert alert-info " style="">{{msgg}}</span>
          </div>
        </div>
      </template>
    </ngb-tab>
  </ngb-tabset>
  <!-- <input [(colorPicker)]="color" [style.color]="color" [style.font]="'italic bold 20px arial,serif'" [value]="color"/> -->
  <!-- <input [disabled]="!locked" [(ngModel)]="myInput" (keyup.enter)=sendMsg()> -->
  <div id="inputair">
    <textarea [disabled]="!this.theGameService.locked" name="MSG" cols=62 rows=7 wrap="physical" [(ngModel)]="myInput" (keydown.control.Enter)=sendMsg()>
      loading...
    </textarea>
    <div id="container"></div>
    <button [disabled]="!this.theGameService.locked" (click)=sendMsg() id="ctrlenter">提交(Ctrl+Enter)</button>
    <!-- <button (click)=tmp()>开始</button> -->
    <button [disabled]="!this.theGameService.locked" (click)=speak_end() id="speakend">结束发言</button>
  </div>
</div>
