.pre-scrollable {}

#inputair {
  height: 147px;
}

#container {
  position: absolute;
  width: 60px;
  height: 55px;
  left: 480px;
  bottom: 150px;
}

.alert {
  padding: 4px;
  margin-left: 9px;
  padding-left: 15px;
  margin-bottom: 8px;
  border: 3px solid transparent;
  border-radius: 4px;
}

#ctrlenter {
  position: absolute;
  right: 4px;
  bottom: 2px;
  height: 55px;
  width: 140px;
}

#speakend {
  position: absolute;
  right: 4px;
  bottom: 59px;
}

#msg_container {
  position: relative;
}

textarea {
  overflow: auto;
  border-radius: 0.3em 0.3em 8px 1em;
  border: 1px solid rgb(40, 136, 111);
  position: absolute;
  bottom: 0px;
  z-index: 200;
}

span {
  display: block;
  /*float: left;*/
  left: 0.5em;
  padding: 0.3em;
  font-size: 0.9em;
  word-wrap: break-word;
  word-break: keep-all;
  overflow: hidden;
}

.scrollbar {
  max-height: 615px;
  height: 615px;
  background: #F5F5F5;
  overflow-y: scroll;
  border-radius: 1em 1em 4px 6px;
  border-bottom: 1px solid rgb(0, 61, 34);
}

#style-1::-webkit-scrollbar {
  width: 12px;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}

.force-overflow {
  min-height: 450px;
  padding-right: 20px;
  padding-left: 10px;
}
