

.pre-scrollable {
  max-height: 600px;
  height: 600px;
  overflow-y: scroll;
}

#inputair {
  height: 160px;
}

#container {
  position: absolute;
  width: 60px;
  height: 55px;
  left: 480px;
  bottom: 150px;
}

#ctrlenter {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

#speakend {
  position: absolute;
  right: 60px;
  bottom: 45px;
}
