<div id="" class="alert alert-warning" style="position: relative; padding: 9px;">
  <div id="lookpro_container">
    <div class="row">
      <div class="row" style="margin-left: 25px;">总统权力：查看三张法案牌</div>
    </div>
    <!-- <div *ngIf="hgnData.step" id="speakwhatk" class="alert alert-warning " style="">
      <div>
        <hgnPlayer [hgn_data]='hgnData.who' [hgn_size]='25' [hgn_style]='0'></hgnPlayer>
        顶《-
        <div *ngFor="let pro of hgnData.proX3List">
          <button type="button" [class]="pro=='x'?'btn':pro>5?'btn btn-danger':'btn btn-primary'" id="pro">
            <img [src]="pro>5?'./pic/红色法案.png':'./pic/蓝色法案.png'" class="img-thumbnail" style="height: 80px;"></button>
        </div>-》底
      </div>
    </div> -->
    <div *ngIf="hgnData.step" class="" id="look_pro">
      您查看了法案牌堆顶的三张牌
      <div class="" style="margin:0 auto;">
        <hgnPlayer [hgn_data]='hgnData.who' [hgn_size]='25' [hgn_style]='3'></hgnPlayer>
      </div>
      <div style="display: inline-block;">
        顶《-
      </div>
      <div style="display: inline-block;" *ngFor="let pro of hgnData.proX3List">
        <button type="button" [class]="pro=='x'?'btn':pro>5?'btn btn-danger':'btn btn-primary'" id="pro">
          <img [src]="pro>5?'./pic/红色法案.png':'./pic/蓝色法案.png'" class="img-thumbnail" style="height: 80px;"></button>
      </div>
      <div style="display: inline-block;">
        -》底
      </div>
    </div>
    <div *ngIf="!hgnData.step" class="" id="look_pro">
      总统查看了法案牌堆顶的三张牌
      <div class="" style="margin:0 auto;">
        <hgnPlayer [hgn_data]='hgnData.who' [hgn_size]='25' [hgn_style]='3'></hgnPlayer>查看了法案牌堆顶的三张牌
      </div>
      <div style="display: inline-block;">
        顶《-
      </div>
      <div style="display: inline-block;" *ngFor="let pro of hgnData.proX3List">
        <button type="button" [class]="pro=='x'?'btn':pro>5?'btn btn-danger':'btn btn-primary'" id="pro">
          <img src="./pic/法案背.png" class="img-thumbnail" style="height: 80px;"></button>
      </div>
      <div style="display: inline-block;">
        -》底
      </div>
    </div>
  </div>
</div>
